@font-face {
   font-family: '1 TT Rounds Neue Trial Bold Italic';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-10_121616/fonts/1%20TT%20Rounds%20Neue%20Trial%20Bold%20Italic/font.ttf');
}
